<!DOCTYPE html>

<head>

    <title>About</title>
    <link rel="stylesheet" href="/myproject/static/css/about.css">

</head>

<body style="background-color: violet;">


    <div style="margin-left: 400px;">

        <header>
            <div class="menu">
                <ul>

                    <li><a href="http://127.0.0.1:5000/">Home</a></li>
                    <li><a href="http://127.0.0.1:5500/myproject/templates/service.html">Services</a></li>
                    <li><a href="https://www.linkedin.com/in/ghazaleh-sulaiman-82b114143/">Contact</a></li>
                </ul>
            </div>
        </header>


        <h1 id="head" style="margin-left: 40px;"><span>Iris Flower Classification</span></h1>
        <p>One of the very famous classification problems in Machine Learning is the </p>
        <p>IRIS Flower classification problem.Iris Flower has different species :</p>
        <p> (Setosa, Versicolor, Verginica).</p>
        <img style="opacity: 0.7;" src="/myproject/static/iris_purple.png" alt="" width="500" height="170">
        <br><br>

        <h1 style="margin-left: 87px;"><span>Problem Statement</span></h1>

        <p>Given four attribute values(Sepal Length,Sepal Width,Petal Length,Petal Width)</p>
        <p>the class of Iris(Setosa, Versicolor, Verginica).</p>
        <br>
        <h1 style="margin-left: 91px;"><span>Data Description</span></h1>


        <h3>Data Attributes :</h3>
        <ol>
            <li>Sepal Length</li>
            <li>Sepal Width</li>
            <li>Petal Length</li>
            <li>Petal Width</li>
            <li>Class
                <ul>
                    <li>Setosaa</li>
                    <li>Versicolor</li>
                    <li>Verginica</li>
                </ul>
            </li>
        </ol>

        <a style="text-decoration: underline"
            href=" https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data">Iris Flower Dataset(CLICK
            TO DOWNLOAD)</a>
        <br><br>
        <a style="color: black; text-decoration: underline; margin-left: 800px;" href="#head">BACK TO THE TOP</a>



    </div>


</body>

</html>