<!DOCTYPE html>

<head>

    <title>Services</title>
    <link rel="stylesheet" href="/myproject/static/css/about.css">

</head>

<body >


    <div style="margin-left: 400px;">

        <header>
            <div class="menu">
                <ul>

                    <li><a href="http://127.0.0.1:5000/">Home</a></li>
                    <li><a href="http://127.0.0.1:5500/myproject/templates/about.html">About</a></li>
                    <li><a href="https://www.linkedin.com/in/ghazaleh-sulaiman-82b114143/">Contact</a></li>
                </ul>
            </div>
        </header>
        <br><br>
        
    <h2 id="head" style="margin-right: 200px;"><span>End to End Deployment of A Machine Learning Model<span></h2>
        <p>After building Your Machine Learning Model, You Should Have An Easy Way To Bring</p>
        <p>It To Life. Using(Flask, HTML5, CSS3) You Can Design And Build End-to-End Web</p>
        <p>Application That Leverage Your Machine Learning Model.</p>
        <p>Flask Is A Micro Web Framework, It Is Classified As A Microframework Because</p>
        <p>It Does not Require Particular Tools Or Libraries. It Completely Written in Python</p>
        <p>Python, So You Don't Need a Hassle Trying To Learn A New Language.</p>
        
        <div style="margin-left: 130px;" >
        <img  src="/myproject/static/flask_icon.png" alt="" width="100" height="90">
        <img  src="/myproject/static/html_icon.png" alt="" width="100" height="100">
        <img  src="/myproject/static/css_icon.png" alt="" width="100" height="100">
        </div>

    </div>
    
</body>

</html>